@charset "UTF-8";

.post-container {
    width: 60%;
    margin: 8px auto 0;
    background-color: #333333;
    color: #e9e8e8;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-title {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
}

.post-meta {
    text-align: right;
}

.post-author {
    margin-bottom: 10px;
    color: #bfbfbf;
    text-align: left;
}

.post-edit {
	text-align: right;
}

.post-edit a {
	text-decoration: none;
	color: #e9e8e8;
}

.post-divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.post-content,
.post-interests,
.post-certifications,
.post-project {
    margin-bottom: 10px;
    padding: 10px;
    color: #e9e8e8;
}


.post-views,
.post-shares {
	font-size: 10px;
}

.small-title {
	margin-bottom: 20px;
}

.post-interests span {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 5px;
	background-color: #5e5e5e;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.post-interests span a {
	color: #fff;
	text-decoration: none;
}

.post-interests span:hover {
	background-color: #ccc;
}

.post-interests span a:hover {
	text-decoration: none;
}

.post-certifications span {
	font-style: bold;
}